@import "tailwindcss";


body {
  background-color: #f7fafc; 
  color: #2d3748; 
}

body.dark {
  background-color: #1a202c; 
  color: #e2e8f0; 
}

a {
  color: #3182ce; 
}

a:hover {
  color: #63b3ed; 
}

button {
  transition: background-color 0.3s ease;
}
